<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Adventure</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="console">
        <div class="console-padding">
            <div id="score-display">Score: <span id="score">0</span></div>
            <div id="moves-display">Moves: <span id="moves">0</span></div>
            <div id="period-of-day"></div>
            <div id="health-display">Health: <span id="moves">100</span></div>
        </div>
    </div>
    <div id="message-container"></div>
    <form id="input-form">
        <input type="text" id="user-input" placeholder="Type here..." autocomplete="off">
        <button type="submit">Submit</button>
    </form>
    <script src="/static/script.js"></script>
</body>
</html>